.productContainer:nth-child(1) {
    position: relative;
    top: 0;
    left: 0;
    z-index: 30;
}

.productContainer:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20
}

.productContainer:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

@keyframes slideLeft {
    from {
        opacity: 100%;
        left: 0;
    }
    to {
        opacity: 0;
        left: -300px;
    }
}

@keyframes slideRight {
    from {
        opacity: 100%;
        left: 0;
    }
    to {
        opacity: 0;
        left: 300px;
    }
}

.exec-slide-left {
    animation-name: slideLeft;
    animation-duration: 1.0s;
}

.exec-slide-right {
    animation-name: slideRight;
    animation-duration: 1.0s;
}

.productContainer {
    .product {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        .product-images {
            width: 100%;
            height: auto;
            margin: 0 auto;
            .image-gallery {
                padding: 2vh 0;
                .image-gallery-slide-wrapper button:focus {
                    outline: 0;
                }
                .image-gallery-bullet {
                    border: 0px;
                    background: #efefef;
                    box-shadow: none;
                }
                .image-gallery-bullets .image-gallery-bullets-container {
                    text-align: right;
                }
                .image-gallery-bullets .image-gallery-bullet.active {
                    background: #4E5D6C;
                }
            }
        }
        .product-price {
            padding: 5px;
            position: absolute;
            font-weight: bolder;
            top: 65px;
            z-index: 10;
            width: 100%;
            text-align: center;
            span {
                font-size: 1.7rem;
                padding: 3px;
                font-weight: bolder;
                width: 35%;
                min-width: 125px;
                display: block;
                margin: 0 auto;
            }
        }
        .product-title {
            position: relative;
            width: 100%;
            float: left;
            padding: 5px;
            margin-top: 20px;
            h3 {
                font-weight: bolder;
                transform: translateY(5%);
            }
        }
        .product-image {
            padding: 2%;
            background-color: #fff;
            border-radius: 5px;
            width: 100%;
            margin: 10px 0;
            img {
                width: 80%;
                height: auto;
                margin: 0 auto;
                text-align: center;
                transform: translateX(10%);
            }
        }
        .product-desc {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 1% 2%;
            line-height: 16px;
            width: 100%;
        }
    }
}

.product-nav {
    .product-nav-btn {
        padding: 7px;
        border-radius: 50%;
        border: 3px solid #fff;
    }
}