.cart {
    .cart-items {
        .cart-item:nth-child(even) {
            background: #4e5d6c;
        }
        .cart-item:nth-child(odd) {
            background: #29394a;
        }
        .cart-item {
            margin: 5px 0;
            padding: 10px 0;
            .cartItemImg {
                position: relative;
                width: 100%;
            }
            .cartItemDesc {
                h6 {
                    padding: 0;
                    margin: 0;
                }
                span {
                    font-size: 0.8rem;
                }
            }
            .cartItemOptions {
                .cart-item-btn {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    border: 2px solid #fff;
                    padding: 0;
                    margin: 0 5px;
                }
                @media(max-width:992px) {
                    .cart-item-btn {
                        width: 30px;
                        height: 30px;
                        transform: translateY(25%);
                    }
                }
                .cart-item-tobuy:hover,
                .cart-item-notbuy:hover {
                    color: green;
                    border: 2px solid green;
                }
                .cart-item-remove:hover {
                    color: red;
                    border: 2px solid red;
                }
            }
            .cartItemQty {
                select {
                    width: 50%;
                    margin: 0 auto;
                    transform: translateY(25%);
                }
            }
            h5.cartItemSubTotal,
            h5.cartItemPrice {
                padding: 3px;
                text-align: center;
                transform: translateY(25%);
            }
            h5.cartItemSubTotal {
                background-color: #141e26;
            }
            h5.cartItemPrice span {
                font-size: 1.0rem;
            }
            h5.cartItemSubTotal span {
                font-size: 1.0rem;
            }
        }
    }
}

@media(max-width:768px) {
    .cart {
        .cart-items {
            .cart-item {
                margin: 5px 0;
                padding: 3px 0;
            }
            .cartItemImg {
                margin-left: 1vw;
            }
            .cartItemSubTotal {
                position: absolute;
                background-color: #141e26;
                top: -12px;
                right: 0px;
            }
            .cartItemDesc {
                h6 {
                    padding: 0;
                    margin: 0 0 1vh 1vw!important;
                    font-size: 0.9rem;
                }
                span {
                    font-size: 0.8rem;
                }
            }
        }
    }
}