html,
body {
    height: 100%;
    //background-color: #000;
}

body {
    overflow-y: scroll;
}

#root::after {
    content: "";
    height: 100%;
    z-index: -1;
}


/*
#root {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url('/images/assets/spinder_bkg.png');
}
*/

.container {
    height: 100%;
}

#root {
    .app {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
        top: 0;
        .app-content {
            flex: 1;
            overflow-x: hidden;
        }
    }
}

.nopadding {
    padding: 0 !important;
}

.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    .title-container {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 25px;
    }
    .content-container {
        height: 100%;
        width: 100%;
        padding: 2%;
    }
}

@media(max-width:991px) {
    .nopadding-sm {
        padding: 0px;
    }
}

@media(max-width:768px) {
    .nopadding-xs {
        padding: 0px;
    }
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1.0;
    transition: opacity 600ms linear 150ms;
}

.fade-exit {
    opacity: 1.0;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 600ms linear;
    .hide-on-nav {
        visibility: hidden;
    }
}